* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark-gunmetal: #212529;
  --platinum: #dee2e6;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
header .continer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-gunmetal);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 5px;
}
header .continer nav {
  position: relative;
}
header .continer h1 {
  color: var(--white);
}
header .continer nav ul {
  list-style: none;
  display: none;
  background-color: var(--dark-gunmetal);
}
header .continer nav ul li {
  padding: 10px;
}
header .continer nav input,
header .continer nav label {
  appearance: none;
  cursor: pointer;
}
header .continer nav ul li a {
  color: var(--white);
}
header .continer nav input:checked + ul {
  display: block;
  position: absolute;
}
@media (min-width: 992px) {
  header .continer nav ul {
    display: flex;
  }
  header .continer nav input,
  header .continer nav label img {
    display: none;
  }
}

.hero .continer {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--platinum);
}

.hero .continer .content h2 {
  font-size: 55px;
  color: var(--dark-gunmetal);
}
.hero .continer .content p {
  color: var(--dark-gunmetal);
  padding: 15px 0px;
}
input[type="submit"] {
  width: 90px;
  height: 32px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  color: var(--white);
  background-color: var(--dark-gunmetal);
  transition: 0.4s;
}
input[type="submit"]:hover {
  background-color: #00000000;
  color: var(--dark-gunmetal);
  border: 2px solid var(--dark-gunmetal);
}
@media (max-width: 600px) {
  .hero .continer .content h2 {
    font-size: 45px;
  }
  .hero .user img {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .hero .user img {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .hero .continer .content h2 {
    font-size: 35px;
  }
  .hero .user img {
    width: 170px;
  }
}
.about .continer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  padding: 20px 0px;
}
.about .continer .me {
  padding-right: 40px;
}
.about .continer .me h2 {
  font-size: 65px;
  color: var(--dark-gunmetal);
}
.about .continer .content p {
  width: 550px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
  font-size: 17px;
  font-size: 500;
  color: var(--dark-gunmetal);
}

@media (max-width: 768px) {
  .about .continer .me h2 {
    font-size: 55px;
  }
  .about .continer .content p {
    width: 350px;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .about .continer .me h2 {
    font-size: 40px;
  }
  .about .continer .content p {
    width: 250px;
    font-size: 13px;
  }
}
.services .continer {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 15px 0px;
  background-color: var(--platinum);
  color: var(--dark-gunmetal);
}
.services .continer h2 {
  font-size: 45px;
}
.services .continer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services .continer .content div {
  padding: 40px 20px;
  margin: 15px;
  margin-top: 20px;
  border-radius: 10px;
  color: var(--white);
  box-shadow: 1px 1px 8px var(--dark-gunmetal);
  background-color: var(--dark-gunmetal);
}
.services .continer .content div h3 {
  font-size: 25px;
  padding: 10px 0px;
}
.blog h2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: var(--dark-gunmetal);
  font-size: 40px;
}
.blog .continer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog .continer .content {
  display: flex;
}
.blog .continer .content img {
  width: 200px;
  margin-top: 10px;
  border-radius: 15px 0px 0px 15px;
}
.blog .continer .content .info {
  padding: 15px;
  width: 230px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--platinum);
}
.blog .continer .content .info h4 {
  color: var(--dark-gunmetal);
  font-size: 27px;
}
.blog .continer .content .info p {
  color: var(--dark-gunmetal);
  font-size: 19px;
}
@media (max-width: 900px) {
  .blog .continer .content .info {
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .blog .continer .content img {
    width: 150px;
    margin-top: 10px;
  }
  .blog .continer .content .info {
    padding: 15px;
    width: 200px;
  }
  .blog .continer .content .info h4 {
    font-size: 24px;
  }
  .blog .continer .content .info p {
    font-size: 16px;
  }
}
.contact h2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: var(--dark-gunmetal);
  font-size: 40px;
}
.contact .continer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .continer h4 {
  padding: 10px 0px;
  font-size: 19px;
}
.contact .continer .message input[type="Email"],
.contact .continer .message input[type="Text"] {
  width: 200px;
  height: 35px;
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--dark-gunmetal);
}
.contact .continer .message textarea {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  resize: none;
  width: 408px;
  color: var(--white);
  background-color: var(--dark-gunmetal);
}
.contact .continer .message .send {
text-align: end;
}
.send-btn[type="submit"]{
  margin: 10px;
  background-color: var(--white);
  color: var(--dark-gunmetal); 
  border: 2px solid var(--dark-gunmetal);
}
.send-btn[type="submit"]:hover{
  background-color: var(--dark-gunmetal);
  color: var(--white);
}
.contact .continer .media {
  margin-left: 15px;
}
.contact .continer .media img {
  width: 25px;
  margin-right: 10px;
}
.contact .continer .media span {
  font-size: 18px;
  padding-bottom: 10px;
  color: var(--dark-gunmetal);
}
@media (max-width: 600px) {
  .contact .continer .message input[type="Email"],
  .contact .continer .message input[type="Text"] {
    width: 160px;
    height: 35px;
  }
  .contact .continer .message textarea {
    width: 325px;
  }
}
